
<form action="/register" method="POST">

<input id="register_name" type="text" name="name" placeholder="What's your name?">

<button id="register-button" class="pure-button pure-button-primary">Let's Play!</button>



