
  <% if @game.winner == "Draw" %>
       <h1> It was a draw </h1>

       <h2>“For my part, I travel not to go anywhere, but to go. I travel for travel’s sake. The great affair is to move.”</h2>

       <a id="play_again"href="/register">Play again?</a>

   <% elsif @game.winner.name == "computer" %>
       <h1> You lost, the compute won with <%= @game.winner.pick %>.</h1>

       <h2> Better luck next time </h2>

       <h2>“Afoot and lighthearted, I take to the open road Healthy, free, the world before me, the long brown path before me leading wherever I choose.”</h2>

       <a href="/register">Play again?</a>

  <% else %>
      <h1> You won, with <%= @game.winner.pick %></h1>

      <h2>“I personally would rather do the existentially essential things in life on foot. If you live in england and your girlfriend is in sicily, and it is clear you want to marry her, then you should walk to sicily to propose For these things travel by car or aeroplane is not the right thing.”<h2>

         <a href="/register">Play again?</a>
  <%end%>


