<h1>Welcome <%= @player%></h1>

<form action="/play" method="POST">
	<button class="pure-button pure-button-primary" name="pick" value="Paper">Paper</button>
	<button class="pure-button pure-button-primary" name="pick" value="Rock">Rock</button>
	<button  class="pure-button pure-button-primary"name="pick" value="Scissors">Scissors</button>
	<input  class="pure-button pure-button-primary"type="hidden" name="name" value=<%=@name%>>
</form>
