<h1>Choose <%= @player%></h1>

<form class="pure-form" action="/play" method="POST">
	<button class="pure-button pure-button-primary" name="pick" value="Paper">Paper</button>
	<button class="pure-button pure-button-primary" name="pick" value="Rock">Rock</button>
	<button  class="pure-button pure-button-primary"name="pick" value="Scissors">Scissors</button>
	<input  class="pure-button pure-button-primary"type="hidden" name="name" value=<%=@name%>>
</form>
