body {
  background-image: url(/images/bored.jpg);
  background-size:   cover;
  background-repeat: no-repeat;
}

div {
  width:65%;
  margin: 0 200px 0;}

a {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 60;
  text-align: bottom;
  position: absolute; bottom: 30pt; left: 30pt;
}

.pure-form {
  margin: 0 370px 0;}


input {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  font-size: 50;
  text-align: center;
  color: black;
  background-color: transparent;
  width: 500;
  margin-top: 500;
  margin-left: 50;
}

.play_again {
  font-size: 20px;
  margin: 100px 350px 0;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 60;
  text-align: center;
  margin-top: 175px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
  font-size: 30;
  text-align: center;
  margin-top: 50px;
}

#register-button {
  float: none;
}

.again-button {
  margin: 50px 150px 0;;
}

button {
  float: right;
  width: 125;
  height: 42;
  vertical-align: middle;
  display: inline-block;
  margin: 10;
}

 .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

